/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html, body {
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 1.1rem;
  font-weight: 300;
}
h1 span {
  font-weight: 700;
}

.info p {
  font-size: 0.6rem;
}

form input {
  font-size: 0.63rem;
}
form p {
  font-size: 0.63rem;
}

button {
  font-size: 0.6rem;
  font-weight: 600;
}

.footer-main i {
  font-size: 0.8rem;
}
.footer-main p {
  font-size: 0.5rem;
}

.footer-body {
  font-size: 0.7rem;
}

@media screen and (width > 700px) {
  h1 {
    font-size: 2.41rem;
  }
  .info p {
    font-size: 1rem;
  }
  form input {
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
  .footer-main p {
    font-size: 0.62rem;
  }
}
form input {
  margin-top: 0.4rem;
  width: 14rem;
  height: 2.05rem;
  padding-left: 1.5rem;
  border-radius: 100vh;
}
form p {
  text-align: left;
  margin: 0.2rem 0 0 1.5rem;
}

@media screen and (width > 700px) {
  form {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  form input {
    margin-top: 0.8rem;
    height: 2.8rem;
    width: 21rem;
  }
}
main {
  margin: 0 auto;
  max-width: min(100% - 2.8rem, 640px);
  min-height: 100vh;
}

header img {
  margin: 4.15rem auto 0;
  width: 2.7rem;
}
header .info {
  margin-top: 2.1rem;
}
header .info p {
  margin-top: 0.9rem;
}

form {
  margin-top: 1.05rem;
  height: 8rem;
}

.illustration {
  margin-top: 0.3rem;
}
.illustration img {
  width: 100%;
}

.icons-layout {
  margin-top: 6.05rem;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.73rem;
}
.icons-layout .icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 59%);
}

.footer-main p {
  margin-top: 1.45rem;
}

.footer-body {
  margin-top: 10px;
}

@media screen and (width > 700px) {
  header img {
    margin: 4.2rem auto 0;
    width: 4.3rem;
  }
  header .info {
    margin-top: 2.6rem;
  }
  .illustration {
    margin-top: -0.1rem;
  }
  .icons-layout {
    margin-top: 3.5rem;
  }
  .footer-main p {
    margin-top: 1.25rem;
  }
}
button {
  margin-top: 0.5rem;
  display: inline-block;
  width: 14rem;
  height: 2rem;
  border: none;
  border-radius: 100vh;
}

@media screen and (width > 700px) {
  button {
    margin-top: 0.8rem;
    height: 2.8rem;
    width: 10rem;
  }
}
h1 {
  color: hsl(0, 0%, 59%);
}

.info p, .info span {
  color: hsl(209, 33%, 12%);
}

form input {
  outline: none;
  border: 1px solid hsl(223, 100%, 88%);
}
form input::-moz-placeholder {
  color: hsl(0, 0%, 59%);
}
form input::placeholder {
  color: hsl(0, 0%, 59%);
}

button {
  color: White;
  background-color: hsl(233, 87%, 62%);
  box-shadow: 0 10px 20px 6px hsl(223, 100%, 88%);
}
button:hover {
  background-color: hsl(223, 100%, 70%);
  cursor: pointer;
}

.icons-layout .icon {
  color: hsl(233, 87%, 62%);
  border-color: hsl(233, 87%, 62%);
}
.icons-layout .icon:hover, .icons-layout .icon:focus {
  color: white;
  background-color: hsl(233, 87%, 62%);
}

.footer-main p {
  color: hsl(0, 0%, 59%);
}

.footer-body {
  color: hsl(209, 33%, 12%);
}
.footer-body a {
  color: hsl(233, 87%, 62%);
}
.footer-body a:hover, .footer-body a:focus {
  color: hsl(223, 100%, 88%);
}/*# sourceMappingURL=style.css.map */